<h2>Checklists</h2>
<hr>

<table class="table table-striped">
	<tbody>
		<tr><td colspan="2"><h4><strong>Verify<strong></h4></td></tr>
		<tr>
			<td>FUEL MASTER switch</td>
			<td>ON - Guard down</td>
		</tr>
		<tr>
			<td>ENGINE FEED knob</td>
			<td>NORM</td>
		</tr>
		<tr>
			<td>EPU switch</td>
			<td>NORM - Guard down</td>
		</tr>
		<tr>
			<td>THROTTLE</td>
			<td>OFF</td>
		</tr>
		<tr>
			<td>LD GEAR handle</td>
			<td>Confirm Down and locked</td>
		</tr>
		<tr>
			<td>HOOK switch</td>
			<td>UP</td>
		</tr>
		<tr>
			<td>MASTER ARM switch</td>
			<td>SAFE (OFF)</td>
		</tr>
		<tr>
			<td>AIR SOURCE knob</td>
			<td>NORM</td>
		</tr>
		<tr><td colspan="2"><h4><strong>BEFORE ENGINE START</strong></h4></td></tr>
		<tr>
			<td>MAIN PWR switch</td>
			<td><strong>BATT:</strong><br> Verify FLCS RLY light ON</td>
		</tr>
		<tr>
			<td>FLCS PWR TEST switch</td>
			<td>TEST and hold <br>
			- ACFT BATT TO FLCS <br>
			- FLCS PMG <br>
			- FLCS PWR (4) <br>
			Verify FLCS RLY light OFF
			</td>
		</tr>
		<tr>
			<td>FLCS PWR TEST switch</td>
			<td>Release</td>
		</tr>
		<tr>
			<td>MAIN PWR switch</td>
			<td><strong>MAIN PWR:</strong><br>
			Verify lights ON<br>
			- ELEC SYS<br>
			- HYD/OIL PRESS<br>
			- FLCS RLY<br>
			- SEC<br>
			- ENGINE<br>
			</td>
		</tr>
		<tr>
			<td>EPU GEN & EUP PMG lights</td>
			<td>Confirm OFF</td>
		</tr>
		<tr>
			<td>Communications</td>
			<td>All set to assigned UHF Backup</td>
		</tr>
		<tr>
			<td>Canopy</td>
			<td>Closed - locked - no light </td>
		</tr>
<tr><td colspan="2"><h4><strong>STARTING ENGINE</strong></h4></td></tr>

		<tr>
			<td>JFS</td>
			<td>START 2 - CHECK JFS light ON</td>
		</tr>
		<tr>
			<td>THROTTLE</td>
			<td>Advance to IDLE at 20% RPM</td>
		</tr>
		<tr>
			<td class="text-muted">Idle Detent</td>
			<td class="text-muted">Toggle (unless idle/cutoff code is enabled)</td>
		</tr>
		<tr>
			<td>SEC caution light</td>
			<td>Check OFF around 20%</td>
		</tr>
		<tr>
			<td>ENGINE warning light</td>
			<td>OFF at 60% RPM</td>
		</tr>
		<tr>
			<td>JFS switch</td>
			<td>Confirm OFF (snaps OFF at 55%)</td>
		</tr>
		<tr>
			<td>HYD/OIL PRESS light</td>
			<td>OFF between 15 and 70%</td>
		</tr>

<tr><td colspan="2"><h4><strong>ENGINE IDLE CHECKS (OPTIONAL)<strong></h4></td></tr>

		<tr>
			<td>FUEL FLOW</td>
			<td>700 - 1700 PPH</td>
		</tr>
		<tr>
			<td>OIL pressure</td>
			<td>MIN 15 PSI</td>
		</tr>
		<tr>
			<td>NOZ POS</td>
			<td>Greater than 94%</td>
		</tr>
		<tr>
			<td>RPM</td>
			<td>62% - 80%</td>
		</tr>
		<tr>
			<td>FTIT</td>
			<td>Below 650°C</td>
		</tr>
		<tr>
			<td>HYD PRESS A and B</td>
			<td>2850 - 3250psi - around 12 o'clock position</td>
		</tr>
		<tr>
			<td>Throttle cutoff release</td>
			<td>Check - Attempt to retard the throttle to OFF without depressing the cutoff release.</td>
		</tr>
<tr><td colspan="2"><h4><strong>AFTER ENGINE START (OPTIONAL)<strong></h4></td></tr>
		<tr>
			<td>PROBE HEAT switch</td>
			<td>PROBE HEAT: Check caution light OFF<br>
				TEST: check caution light flashes<br>
				OFF</td>
		</tr>
		<tr>
			<td>Fire and Overheat Detect Button</td>
			<td>Test and Hold<br>
			- Check ENG FIRE Warning light ON<br>
			- Check OVER HEAT Caution light </br>
			- Check MASTER CAUTION light ON
			</td>
		</tr>
		<tr>
			<td>MAL AND IND LTS button</td>
			<td>DEPRESS and HOLD<br>
			Proper VMS operation is verified by the presence of each word in priority sequence.
			</td>
		</tr>
<tr><td colspan="2"><h4><strong>AFTER ENGINE START<strong></h4></td></tr>		


		
		
		<tr><td colspan="2"><h4><strong>AFTER ENGINE START<strong></h4></td></tr>		
		<tr>
			<td></td>
			<td></td>
		</tr>


		
	</tbody>
</table>