---
title:          GitHub Gallery
image_folder:   /charts/
max_width:      900px
sort_by:        modified_time   # modified_time or path (notice: path is case sensitive)
date_format:    "%A, %B %-d, %Y"
---

<h2>Charts</h2>
<hr>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Airport</th>
			<th>Diagram</th>
		</tr>
	</thead>
	<tbody>
	
	{% assign imgs = (site.static_files | sort: page.sort_by) %}
    {% for img in imgs reversed %}
    {% if img.path contains page.image_folder %}
    {% assign img_name = img.path | remove: page.image_folder | split: '.' | first %}
	{% assign airport_name = img_name | split: '_' | first  %}
    {% assign img_date = img.modified_time | date: page.date_format %}
	
		<tr>
			<td><a href="#{{ img_name }}">{{ airport_name }}</a></td>
			<td><a href=".{{ img.path }}">Airport Diagram</td>
		</tr>
		
		
    {% endif %}
    {% endfor %}

	</tbody>
</table>


