---
title:          GitHub Gallery
image_folder:   /charts/
max_width:      900px
sort_by:        modified_time   # modified_time or path (notice: path is case sensitive)
date_format:    "%A, %B %-d, %Y"
---

<h2>Charts</h2>
<hr>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Airport</th>
			<th>Diagram</th>
			<th>Full</th>
		</tr>
	</thead>
	<tbody>
	
	{% assign imgs = (site.static_files | sort: page.sort_by) %}
    {% for img in imgs reversed %}
    {% if img.path contains page.image_folder %}
    {% assign img_name = img.path | remove: page.image_folder | split: '.' | first %}
	{% assign airport_name = img_name | split: '_' | first  %}
	{% assign airport_chart = img_name | remove: airport_name %}
    {% assign img_date = img.modified_time | date: page.date_format %}
	
		<tr>
			<td>{{ airport_name }}</td>
			<td><a href=".{{ img.path }}">{{ airport_chart | upcase | slice: 1,100}}</td>
			<td><a href="javascript:openViewer();" data-high-res-src="images/korea_map_large.jpg">{{ img_name }}</td>
		</tr>
		
		
    {% endif %}
    {% endfor %}

	</tbody>
</table>

<div id="image-gallery" class="cf">
    <a href src="images/korea_map_large.jpg" data-high-res-src="images/korea_map_large.jpg" alt="" class="pannable-image">test</a>
</div>
<script type="text/javascript">

    $(function openViewer() {
    var viewer = ImageViewer({maxZoom: 800, zoomValue: 175});
    $('.pannable-image').click(function () {
        var imgSrc = this.src,
            highResolutionImage = $(this).data('high-res-img');
        viewer.show(imgSrc, highResolutionImage);
    });
});</script>
