<H2>Map</H2>
<hr>
<div id="image-gallery" class="cf">
    <img src="images/korea_map_large.jpg" data-high-res-src="images/korea_map_large.jpg" alt="" class="pannable-image">
	</div>
<script type="text/javascript">

    $(function () {
    var viewer = ImageViewer({maxZoom: 800, zoomValue: 170});
    $('.pannable-image').click(function () {
        var imgSrc = this.src,
            highResolutionImage = $(this).data('data-high-res-scr');
        viewer.show(imgSrc, highResolutionImage);
    });
});</script>
