<H2>Frequencies</H2>
<hr>
<table class="table table-striped">
  <thead>
	<tr>
		<th>Airport</th>
		<th>Tower UHF</th>
		<th>Runway</th>
		<th>Tacan Channel</th>
		<th>Tacan Range</th>
		<th>ILS</th>
	</tr>
  <thead>
  <tbody>
	<tr>
		<td>Chongju</td>
		<td>250.2</td>
		<td>05/23 L/R</td>
		<td>042X</td>
		<td>25</td>
		<td>111.7 (23R)</td>
	</tr>
	<tr>
		<td>Choongwon</td>
		<td>230.15</td>
		<td>16/34 L/R</td>
		<td>005X</td>
		<td>50</td>
		<td>111.3 (34R)</td>
	</tr>
	<tr>
		<td>Hoensong</td>
		<td>265.5</td>
		<td>8/26</td>
		<td>039X</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr>
		<td>Kangung</td>
		<td>334.9</td>
		<td>8/26</td>
		<td>056X</td>
		<td>50</5td>
		<td>111.5 (26)</td>
	</tr>
	<tr>
		<td>Kimhae</td>
		<td>233.3</td>
		<td>16/34</td>
		<td>117X</td>
		<td>25</td>
		<td>109.5 (34)</td>
	</tr>
	<tr>
		<td>Kimpo</td>
		<td>240.9</td>
		<td>14/32 (L/R)</td>
		<td>083X</td>
		<td>50</td>
		<td>109.9 (14L)<br> 
			110.1 (14R)<br>
			108.3 (32L)<br>
			110.7 (32R)		
		</td>
	</tr>
	<tr>
		<td>Kunsan</td>
		<td>292.3</td>
		<td>18/36</td>
		<td>075X</td>
		<td>100</td>
		<td>110.3 (18/36)</td>
	</tr>
	<tr>
		<td>Kwangju</td>
		<td>254.6</td>
		<td>02/20</td>
		<td>091X</td>
		<td>100</td>
		<td>111.1 (02/20)</td>
	</tr>
	<tr>
		<td>Osan</td>
		<td>308.8</td>
		<td>09/27</td>
		<td>094X</td>
		<td>100</td>
		<td>111.3 (09/27)</td>
	</tr>
	<tr>
		<td>Pohang</td>
		<td>236.6</td>
		<td>08/26</td>
		<td>072X</td>
		<td>100</td>
		<td>110.9 (26)</td>
	</tr>
	<tr>
		<td>Pusan</td>
		<td>232.6</td>
		<td>14/32</td>
		<td>087X</td>
		<td>50</td>
		<td>109.5 (32)</td>
	</tr>
	<tr>
		<td>P'Yong'Teag</td>
		<td>257.8</td>
		<td>16/34</td>
		<td>019X</td>
		<td>25</td>
		<td>108.5 (34)</td>
	</tr>
	<tr>
		<td>Sachon</td>
		<td>305.4</td>
		<td>05/23 L/R</td>
		<td>037X</td>
		<td>25</td>
		<td>111.5 (05L)<br>
			108.1 (23L)<br>
		</td>
	</tr>
	<tr>
		<td>Soeoul</td>
		<td>237.1</td>
		<td>19/01<br>
			18/36</td>
		<td>046X</td>
		<td>25</td>
		<td>110.9 (19)</td>
	</tr>
	<tr>
		<td>Seosan</td>
		<td>353.1</td>
		<td>02.20 (L/R)</td>
		<td>052X</td>
		<td>50</td>
		<td>111.5 (02R)</td>
	</tr>
	<tr>
		<td>Sokcho</td>
		<td>237.1</td>
		<td>18.36</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
	</tr>
	<tr>
		<td>Seosan</td>
		<td>353.1</td>
		<td>02.20 (L/R)</td>
		<td>052X</td>
		<td>50</td>
		<td>111.5 (02R)</td>
	</tr>
	<tr>
		<td>Suwon</td>
		<td>366.0</td>
		<td>14/36 L/R</td>
		<td>022X</td>
		<td>50</td>
		<td>108.7 (32L)</td>
	</tr>
	<tr>
		<td>Taegu</td>
		<td>365.0</td>
		<td>14/32 L/R</td>
		<td>125X</td>
		<td>25</td>
		<td>108.7 (32)</td>
	</tr>
	<tr>
		<td>Yechon</td>
		<td>269.5</td>
		<td>08/26</td>
		<td>026X</td>
		<td>50</td>
		<td>109.3 (26)</td>
	</tr>
	
	
	
	
	
  </tbody>
</table>