---
title:          GitHub Gallery
image_folder:   /charts/
max_width:      900px
sort_by:        modified_time   # modified_time or path (notice: path is case sensitive)
date_format:    "%A, %B %-d, %Y"
---

<h2>Charts</h2>
<hr>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Airport</th>
			<th>Diagram</th>
			<th>Full</th>
		</tr>
	</thead>
	<tbody>
	
	{% assign imgs = (site.static_files | sort: page.sort_by) %}
	
	<tr><td>{{imgs | downcase}}</td><td></td><td></td></tr>
		
    {% for img in imgs  %}
		{% if img.path contains page.image_folder %}
    {% assign img_name = img.path | remove: page.image_folder | split: '.' | first %}
	{% assign airport_name = img_name | split: '_' | first  %}
	{% assign airport_chart = img_name | remove: airport_name %}
    {% assign img_date = img.modified_time | date: page.date_format %}
	
		<tr>
			<td>{{ airport_name }}</td>
			<td><a href src=".{{ img.path }}" data-high-res-src=".{{ img.path }}" alt="" class="pannable-image">{{ airport_chart | upcase | slice: 1,100}}</a></td>
			<td>{{img}} </td>
		</tr>
		
		
    {% endif %}
    {% endfor %}

	</tbody>
</table>

<script type="text/javascript">

    $(function () {
    var viewer = ImageViewer({maxZoom: 500, zoomValue: 100});
    $('.pannable-image').click(function () {
        var imgSrc = $(this).attr("src"),
            highResolutionImage = $(this).attr('data-high-res-src');
        viewer.show(imgSrc, highResolutionImage);
    });
});</script>
